<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Grid</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" href="../css/estilogrid.css" rel="stylesheet"/>
    </head>
    <body>
        <main>
            
            <header></header>
            <nav>
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </nav>
            
            <section class="conteudo"></section>
            <section class="apoio"></section>
            
            <footer>
                @@TCHLC DEVELOPMENT
            </footer>
            
        </main>
    </body>
</html>
