<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" href="../css/estilo.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Chilanka|Saira+Extra+Condensed&display=swap" rel="stylesheet">
    </head>
    <body >
        
            <div id="dleft">
               
                <div id="logo">
                    <img src="../img/TBase - logo.png" alt="logo"/>
                </div>
                <div id="login">
                    <h1>CONECTE-SE <span>EM TBASE</span></h1>
                    <p>Bem vindo, por favor use o formulario para se conectar.</p>
                    
                    <form action="principal" method="post">
                        <!--<label for="usuario"/>-->
                        <input type="text" id="usuario" name="usuario" placeholder="Usuario" autofocus size="22"/>
                        <input type="password" id="senha" name="senha" placeholder="Senha" size="22"/>
                        
                        <button>Conectar-se</button>
                        
                    </form>
                </div>
            </div>
            
        
    </body>
</html>
