<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Cascade Style Sheet</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" href="../css/estilo2.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Chilanka|Saira+Extra+Condensed&display=swap" rel="stylesheet">
    </head>
    <body>
        <div>
        
            <h1> Contratos de Licença </h1>
            
            <p>WildFly is not only 100% open source, it is also developed for 
                and by its community of users. Developers join from all over the
                world, and they contribute in many different ways. We are 
                grateful for all contributions, whether it be a new feature, a 
                bug fix, wiki entires, helping other members, or even just 
                filing a bug report. The relationship is symbiotic, every 
                contribution you make encourages others to in turn contribute in
                ways that will likely benefit you. The experience is also 
                rewarding. Let's look at why.
            </p>
            
        </div>
    </body>
</html>
