<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Principal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" href="../css/estilo2.css" rel="stylesheet">
    </head>
    <body>
        <main>
            <header>
                <div id="o1">
                    <div id="topdireita">
                        <img src="../img/TBase - icone.png" alt="Usuario" />
                    </div>
                </div>
            </header>
            <nav>
                <ul>
                    <li><a href="#">Troca Vendedor de venda</a></li>
                    <li><a href="#">Alimenta estoque - implementado</a></li>
                    <li><a href="#">Acerta abertura de caixa</a></li>
                    <li><a href="#">Exclusao de nota de entrada</a></li>
                    <li><a href="#">Cadastra de vendedores</a></li>                    
                </ul>
            </nav>
            <div id="o3">
                
                
                
                <h1> Contratos de Licença </h1>
            
                <p>WildFly is not only 100% open source, it is also developed for 
                    and by its community of users. Developers join from all over the
                    world, and they contribute in many different ways. We are 
                    grateful for all contributions, whether it be a new feature, a 
                    bug fix, wiki entires, helping other members, or even just 
                    filing a bug report. The relationship is symbiotic, every 
                    contribution you make encourages others to in turn contribute in
                    ways that will likely benefit you. The experience is also 
                    rewarding. Let's look at why.
                </p>
                
                <article>
                    <section class="janela1">
                        Coluna um <strong>com overflow</strong>
                        <p/>
                        Developers join from all over the
                    world, and they contribute in many different ways. We are 
                    grateful for all contributions, whether it be a new feature, a 
                    bug fix, wiki entires, helping other members, or even just 
                    filing a bug report. The relationship is symbiotic, every 
                    contribution you make encourages others to in turn contribute in
                    ways that will likely benefit you. The experience is also 
                    rewarding. Let's look at why.
                    </section>

                    <section class="janela2">
                        Coluna dois
                    </section>
                </article>
                <aside>
                    <section class="janela3">
                        Coluna tres
                    </section>
                </aside>
                
                <section class="janela4">
                    
                </section>
                
                <section class="janela5">
                    
                    <section class="janela6 quadrado">
                        Vermelho
                    </section>

                    <section class="janela7 quadrado">
                        Salmao
                        
                        <section class="janela8 quadrado">
                        Laranja
                    
                        </section>
                        
                    </section>

                            
                    
                </section>
            </div>
            
            <div id="o4">
                Objeto 4
            </div>
            
            <footer>
                @@TCHLC DEVELOPMENT                
            </footer>
            
        </main>
        
    </body>
</html>
