main{
    margin: 0 auto;
    width: 100%;/*1024px;*/
    background-color: whitesmoke;
    position: relative;
}

h1{
    font-family: 'Chilanka', cursive;
    font-size: 18px;
    color: rgb(240,220,238);
}


p{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 12px;
    color: gray;
}

#o1{
    background: linear-gradient(90deg, darksalmon, #cc733d);
    /*background-color: darksalmon;*/
    width: 100%;
    height: 40px;  
    position: fixed;
    top: 0;
    left: 0;

}

#topdireita{
    float: right;
/*    margin-top: 1px;*/
    width: 5px;
    height: 15px;    
    margin-right: 40px;
}

nav{
    /*background: cyan;*/
    /*    background: linear-gradient(to right, blue, red);*/
    background: linear-gradient(300deg,#ccffcc , #cc9f8c);
    /*background: radial-gradient(#ccffcc , #cc9f8c 95%);*/
    width: 11.23%;/*115px;*/
    height: 350px;
    float: left;
    padding-top: 15px;
    padding-left: 1.46%;/*15px;    */
}

nav ul {
    list-style: none;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    font-size: 6pt;
    color: red;
}

#o3{
    background-color: beige;
    width: 72.65%;/*744px;*/
/*    height: 250px;*/
    box-shadow: 0 0 15px #999;
    margin-top: 1px;
    margin-bottom: 10px;
    padding: 1.95%;/*20px; */
    float: left;
    overflow: hidden;
    /*position: absolute;*/
    z-index: 5;
}

#o3 h1{
    margin-top: 50px;
}

article{
    float: left;
    width: 62.5%;
}

.janela1{
    background-color: #ffff98;
    height: 200px;
    width: 47.50%;/*19.72%;*//*202px;*/
    float: left;
    /*padding: 1.95%;20px;*/
    overflow: auto;
}

.janela2{
    background-color: rgb(255,204,51);    
    height: 200px;
    width: 47.50%;/*19.62%;/*201px;*/
    float: right;
    /*padding: 1.95%;20px;*/
    margin-left: 5%;/*10px;*/
}

aside{
    float: right;
    width: 32.5%;
}

.janela3{
    background-color: #ffe75a;    
    height: 200px;
    width: 100%;/*19.62%;*//*201px;*/
    /*float: left;*/
    /*padding: 1.95%;20px;   */
    /*margin-bottom: 15px;*/
    /*margin: 0 auto;*/

}

.janela4{
    background-color: #ff9102;
    height: 150px;
    width: 100%;/*72.65%;*//*744px;*/
    clear: both;
    position: relative;
    top: 27px;
}

.janela5{
    background-color: #a2e5b5;
    height: 250px;
    width: 100%;/*72.65%;*//*744px;*/
    position: relative;
    top:  20px;
    /*left: 20px;*/
    margin-bottom: 20px;
    margin-top: 20px;
}

.quadrado{
    height: 100px;
    width: 9.76%;/*100px;*/
    padding: 0.97%;/*10px;*/
}

.janela6{
    background-color: #ff0033;
    position: absolute;
    top: 10px;
    left: 10px;
    /*z-index: 1;*/
}

.janela7{
    background-color: #ff3333;
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 3;
    clip: rect( 0 120px 120px 0 );
}

.janela8{
    background-color: #ff9933;
    position: absolute;
    top: 50px;
    left: 2px;
    z-index: 2;
}



#o4{    
    background: linear-gradient(60deg,#ccffcc , #cc9f8c);    
    width: 10.15%;/*104px;*/
    height: 600px;
    float: right;
    margin: 0%;
    margin-bottom: 10px;
    
}

footer{    
    padding: 0.48%;/*5px;*/
    background-color: rgb(204,153,51);
    text-align: center;
    color: rgb(255,255,255);
    clear: both;    
}
